@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">AG.randa</h1>
        <p> minhas Redes! <a href="https://github.com/TMiranda7" >  Git </a> <a href="https://www.linkedin.com/in/thiago-miranda-532278113/"> Linkedin</a></p>
        <link rel="icon" type="image/svg" href="~/logo/iconmonstr-github.svg">
    </div>
